[workspace]
members = [
  "crates/sophus",
  "crates/sophus_core",
  "crates/sophus_lie",
  "crates/sophus_pyo3",
  "crates/sophus_image",
  "crates/sophus_sensor",
  "crates/sophus_opt",
]
resolver = "2"

[workspace.package]
edition = "2021"
include = [
  "**/*.rs",
  "**/*.wgsl",
  "**/*.md",
  "**/Cargo.toml",
]
keywords = ["robotics", "optimization"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/sophus-vision/sophus-rs/"
version = "0.10.0"

[workspace.dependencies]
sophus = {path = "crates/sophus", version = "0.10.0"}
sophus_core = {path = "crates/sophus_core", version = "0.10.0"}
sophus_image = {path = "crates/sophus_image", version = "0.10.0"}
sophus_lie = {path = "crates/sophus_lie", version = "0.10.0"}
sophus_opt = {path = "crates/sophus_opt", version = "0.10.0"}
sophus_pyo3 = {path = "crates/sophus_pyo3", version = "0.10.0"}
sophus_sensor = {path = "crates/sophus_sensor", version = "0.10.0"}

approx = "0.5"
as-any = "0.3"
assertables = "8.3"
async-trait = "0.1"
bytemuck = {version = "1.14", features = ["derive"]}
concat-arrays = "0.1"
dyn-clone = "1.0"
env_logger = "0.11"
faer = "0.19"
image = {version = "0.25", features = [
  "jpeg",
  "png",
  "tiff",
]}
linked-hash-map = "0.5"
log = "0.4"
nalgebra = {version = "0.33", features = ["rand", "bytemuck"]}
ndarray = {version = "0.16", features = ["approx"]}
num-traits = "0.2"
numpy = "0.21"
png = "0.17"
rand = "0.8"
thiserror = "1.0"
tiff = "0.9.0"
typenum = {version = "1.17", features = ["const-generics"]}
winit = {version = "0.30", features = ["android-native-activity"]}

[profile.release]
debug = 1
